/*css normalize*/
/* article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;} */

/*box-sizing: border-box*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*some default style to make box visible*/
.box {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
    padding: 10px;
}

/* Colors for each box */
.box-1 {background: chartreuse;}
.box-2 {background: chocolate;}
.box-3 {background: coral;}
.box-4 {background: cornflowerblue;}
.box-5 {background: crimson;}
.box-6 {background: cyan;}
.box-7 {background: darkgoldenrod;}
.box-8 {background: darkgreen;}
.box-9 {background: darkorange;}
.box-10 {background: deeppink;}


.container {
    display: flex;
    border: 5px solid firebrick;
    height: 100vh;
    /* align-content: stretch;  <---- this is default */
    align-items: flex-start;

}

.box {
    width: 33.33%;
}
.box-1 {
    align-self: center;
}
.box-2{
    align-self: stretch;
}
.box-3 {
    align-self: center;
}
.box-4{
    align-self: stretch;
}
.box-5 {
    align-self: center;
}

.box-6{
    align-self: stretch;
}
.box-7 {
    align-self: center;
}

.box-8{
    align-self: stretch;
}

.box-9 {
    align-self: flex-end;
}

/* using align-self position an flex element indivisually */


